* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Space Grotesk", sans-serif;
}

button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  background-color: greenyellow;
  color: #000;
  cursor: pointer;
}

body {
  /* border-color: rgb(128, 128, 128);/ */
  height: max-content;
  width: 100%;
  background: #222;
}

/*Index.html*/
header {
  background-color: #000;
  position: fixed;
  height: 15vh;
  width: 100%;
  /* border-bottom: 1px solid grey; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

header .logo {
  height: max-content;
  /* border: 1px solid grey; */
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
}

header .logo a {
  color: greenyellow;
  font-size: 2em;
}

header .logo span {
  color: white;
}

nav {
  height: max-content;
  /* border: 1px solid red; */
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li a {
  color: #fff;
  padding: 10px;
}

nav ul li button {
  /* border: 1px solid greenyellow; */
  padding: 10px;
  cursor: pointer;
  border-radius: 20%;
  background: linear-gradient(to right, #504e4e, #fff);
}

.banner {
  position: relative;
  top: 15vh;
  height: 75vh;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner--name {
  height: max-content;
  width: max-content;
}

.banner--name p {
  color: greenyellow;
  font-size: 5em;
}

.banner--name span {
  color: white;
}

.banner--content {
  height: max-content;
  padding: 10px;
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.banner--content p {
  text-align: center;
}

.banner-get-started-btn button {
  padding: 10px;
  border-radius: 10px;
  border: 0;
  background-color: greenyellow;
  color: #000;
  cursor: pointer;
}

footer {
  position: relative;
  top: 15vh;
  height: 10vh;
  width: 100%;
  /* border: 1px solid sienna; */
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: greenyellow;
}

/*budgetTracker.html*/
.btheading {
  position: relative;
  top: 15vh;
  height: 20vh;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btheading h1 {
  font-size: 3em;
  color: #fff;
}

.btheading p {
  color: #fff;
}

.main {
  position: relative;
  top: 15vh;
  height: max-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid sienna; */
}

.income {
  width: max-content;
  position: relative;
  border-radius: 20px;
  box-shadow: -13px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 0;
  border: 1px solid whitesmoke;
}

.income p {
  font-size: 2em;
  font-weight: bolder;
}

.income span {
  color: greenyellow;
}

.budget-Tracker {
  height: max-content;
  width: max-content;
  /* border: 1px solid blue; */
  padding: 10px;
}

.budget-Tracker th,
td {
  border: 1px solid #ddd;
  text-align: center;
}

.budget-Tracker th {
  background-color: #f4f4f4;
  color: #333;
}

.budget-Tracker tr:hover {
  background-color: #f1f1f1;
}

.budget-Tracker input {
  height: 5vh;
  border: 2px solid #757575;
  border-radius: 4px;
  background-color: #757575;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.budget-Tracker input:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  /* background-color: #fff; */
}

.budget-Tracker p[class="total-expenses"] {
  font-size: 2em;
  border: 1px solid grey;
  padding: 10px;
  width: max-content;
  margin-top: 10px;
}

.budget-Tracker p[class="total-expenses"] span {
  color: greenyellow;
}

.result {
  position: relative;
  top: 15vh;
  width: max-content;
  padding: 10px;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.result table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2vh;
}

.result th,
.result td {
  border: 1px solid #dddddd;
  padding: 8px;
}

.result th {
  background-color: #f2f2f2;
  color: #333333;
}

.result td {
  background-color: #ffffff;
}

.result tr:nth-child(even) {
  background-color: #f9f9f9;
}

.result tr:hover {
  background-color: #f1f1f1;
}

.result .advice {
  font-weight: bolder;
  font-size: 1.5em;
  margin-top: 2vh;
  margin-bottom: 5vh !important;
}

.result span {
  color: greenyellow;
}
