@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --finwise-green: #008751;
  --card-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.07),
    0 2px 4px -2px rgb(0 0 0 / 0.07);
  --card-shadow-hover: 0 10px 15px -3px rgb(0 0 0 / 0.07),
    0 4px 6px -4px rgb(0 0 0 / 0.07);
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body[data-bs-theme="light"] {
  background-color: #f8f9fa;
}

body[data-bs-theme="dark"] {
  background-color: #121212;
}

.app-container {
  min-height: 100vh;
  padding-bottom: 120px;
}

.card,
.list-group-item {
  box-shadow: var(--card-shadow);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover,
.list-group-item-action:hover {
  transform: translateY(-3px);
  box-shadow: var(--card-shadow-hover);
}

.floating-nav-container {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.floating-nav {
  background-color: var(--bs-body-bg);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--bs-border-color-translucent);
  width: auto;
  gap: 1.5rem;
}
